body {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    height: 100%;
}
header {
   background: #1F2937;
   display : flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
header h1 {
  margin: 0;  
  padding: 0;  
  color: white;
  padding-left: 30px;
}
header ul {
    list-style: none;
    display : flex;
    justify-content: center;
    gap : 30px;
}
header ul a{
    text-decoration: none;
    color: white;
    display : flex;
}